@page
@using System.Security.Claims
@inject MentorBot.Models.IMentorContext ctx
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
  var loggedIn = HttpContext.User.Identity?.IsAuthenticated ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Mentor Bot Web Portal">
  <title>Mentor Bot Web Portal</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script>
    function sendRequest(event) {
        event.preventDefault();
        var element = $(event.target);
        var data = element.serialize()
        console.log("Sending", data);
        $.ajax(element.attr('action'), {
          type: 'POST',
          contentType: 'application/x-www-form-urlencoded; charset=utf-8',
          data: data,
          success: function(result) {
              location.reload();
          },
          error: function(result) {
            if (result.status === 401) {
              alert("Lead access token invalid.");
            } else if (result.status === 404) {
              alert("User with provided Neos ID not found.");
            } else {
              alert("Internal error.");
            }
          }
        });
      return false;
    }
  </script>
</head>
<body style="height: 100vh">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mentor-Bot</a>
      @if (!loggedIn)
      {
        <form class="d-flex" method="post" asp-controller="Login" asp-action="login">
          <input type="password" name="accessToken" class="form-control me-2" placeholder="Lead Access Token" aria-label="Access token" />
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      }
      </div>
  </nav>
  <div class="modal modal-tour position-static d-block bg-secondary py-5" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content rounded-6 shadow">
        <div class="modal-header">
          <h5 class="modal-title">Mentors</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Can claim tickets</th>
                @if (loggedIn)
                {
                  <th scope="col">Modify Access</th>
                }
              </tr>
            </thead>
            <tbody>
              @await foreach (var mentor in ctx.Mentors()
                .Select(m => m.ToDto()).WithCancellation(HttpContext.RequestAborted))
              {
                <tr>
                  <td>@mentor.Name</td>
                  <td>@(mentor.InProgram ? "Yes" : "No")</td>
                  @if (loggedIn)
                  {
                    <td>
                      <form class="d-flex" method="post" onsubmit="return sendRequest(event)" asp-controller="Mentor" asp-action="@(mentor.InProgram ? "UnauthorizeMentor" : "AuthorizeMentor")">
                        <input type="hidden" name="neosId" value="@mentor.Id">
                        <button class="btn @(mentor.InProgram ? "btn-outline-danger" : "btn-outline-warning")" type="submit">@(mentor.InProgram ? "Unauthorize" : "Authorize")</button>
                      </form>
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
        @if (loggedIn)
        {
          <div class="modal-footer">
            <form class="input-group" onsubmit="return sendRequest(event)" id="addMentorForm" method="post" asp-controller="Mentor" asp-action="AuthorizeMentor">
              <input type="text" class="form-control" name="neosId" placeholder="Neos User ID to register" aria-label="Neos User ID" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Register</button>
            </form> 
          </div>
        }
      </div>
    </div>
  </div>
</body>
</html>
